* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ddb;
}

#wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
}

header img {
    width: 100%;
    height: 700px;
    display: block;
}

nav {
    background-color: orange;
}

a.menu {
    display: inline-block;
    width: 19%;
    padding: 30px 60px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

a.menu:hover {
    background-color: coral;
}

article {
    margin-top: 30px;
    margin-bottom: 150px;
    padding: 0 20px;
}

article h1 {
    font-size: 75px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid coral;
}

img.left {
    float: left;
    margin: 0px 20px 20px 0;
    width: 25%;
    border-radius: 50%;
}

article p {
    text-align: justify;
    line-height: 50px;
    font-size: 45px;
    padding: 15px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
}

table th {
    background-color: coral;
    color: white;
}

a.checkout {
    display: inline-block;
    padding: 15px 30px;
    background-color: coral;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

a.checkout:hover {
    background-color: orange;
}

footer {
    height: 40px;
    background-color: coral;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}
